*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  /* Let each theme control its own layout */
  min-height: 100vh;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
